body {
    background-color: #f4f4f4;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

.btn-block {
    border-radius: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    max-width: 600px; /* Adjusted max-width to 600px */
}

/* Adjust sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #6a64f0!important;
    width: 240px; /* Adjusted width */
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}
.sidebar a:hover {
    background-color: #d46484;
}

.sidebar .nav-link.active {
    background-color: #d46484;
    color: #fff;
}

.sidebar .nav-link.active:hover {
    background-color: #d46484; /* Darker blue color on hover for active link */
}

/* Adjust main content styles */
main {
    margin-left: 240px; /* Match sidebar width */
}

.card {
    margin-bottom: 20px;
}



p.no-task {
    text-align: center;
}
